/* ==========================================================================
   DEFAULT THEME
   ========================================================================== */

/* Color codes used for the theme */
$gray                       : #7a8288;
$dark-gray                  : mix(#000, $gray, 40%);
$darker-gray                : mix(#000, $gray, 60%);
$light-gray                 : #9ba1a6;
$lighter-gray               : mix(#fff, $gray, 90%);

/* Color codes used for the site */
$danger-color               : #ee5f5b;
$info-color                 : #286aa6;
$notice-color               : #7a8288;
$success-color              : #62c462;
$warning-color              : #f89406;

/* Other basic settings for the template */
$border-radius              : 4px;
$box-shadow                 : 0 1px 1px rgba(0, 0, 0, 0.125);
$global-transition          : all 0.2s ease-in-out;
$masthead-height            : 70px;
$navicon-width              : 28px;
$navicon-height             : 4px;
$sidebar-link-max-width     : 250px;
$sidebar-screen-min-width   : 1024px;

/* Default light theme for the site */
:root {
    --global-base-color                 : #6b7280;
    --global-bg-color                   : #ffffff;
    --global-surface-color              : #ffffff;
    --global-footer-bg-color            : #f7f7f8;
    --global-border-color               : #e3e5e8;
    --global-dark-border-color          : #c7cbd1;
    --global-code-background-color      : #f5f6f7;
    --global-code-text-color            : #292d33;
    --global-fig-caption-color          : #6b7280;
    --global-link-color                 : #7157a3;
    --global-link-color-hover           : #503a7c;
    --global-link-color-visited         : #756985;
    --global-masthead-link-color        : #292d33;
    --global-masthead-link-color-hover  : #7157a3;
    --global-text-color                 : #292d33;
    --global-text-color-light           : #6b7280;
    --global-thead-color                : #f1f2f4;
    --global-accent-soft                : #f3f6f9;
    --global-warm-accent                : #7157a3;
    --global-warm-soft                  : #f3f6f9;
}
