{% include base_path %}

<div itemscope itemtype="https://schema.org/Person">
  <div class="author__avatar">
    <img src="{{ site.author.avatar | prepend: '/images/' | prepend: base_path }}"
         class="author__avatar"
         alt="{{ site.author.name }}"
         fetchpriority="high">
  </div>

  <div class="author__content">
    <h3 class="author__name">{{ site.author.name }}</h3>
    {% if site.author.bio %}<p class="author__bio">{{ site.author.bio }}</p>{% endif %}
  </div>

  <div class="author__urls-wrapper">
    <button class="btn btn--inverse" type="button" aria-expanded="false">Follow</button>
    <ul class="author__urls social-icons">
      {% if site.author.location %}
        <li class="author__desktop"><i class="fas fa-fw fa-location-dot icon-pad-right" aria-hidden="true"></i>{{ site.author.location }}</li>
      {% endif %}
      {% if site.author.email %}
        <li><a href="mailto:{{ site.author.email }}"><i class="fas fa-fw fa-envelope icon-pad-right" aria-hidden="true"></i>Email</a></li>
      {% endif %}
      {% if site.author.github %}
        <li><a href="https://github.com/{{ site.author.github }}"><i class="fab fa-fw fa-github icon-pad-right" aria-hidden="true"></i>GitHub</a></li>
      {% endif %}
      {% if site.author.googlescholar %}
        <li><a href="{{ site.author.googlescholar }}"><i class="ai ai-google-scholar ai-fw icon-pad-right" aria-hidden="true"></i>Google Scholar</a></li>
      {% endif %}
      {% if site.author.orcid %}
        <li><a href="{{ site.author.orcid }}"><i class="ai ai-orcid ai-fw icon-pad-right" aria-hidden="true"></i>ORCID</a></li>
      {% endif %}
    </ul>
  </div>
</div>
